/* From https://css.glass */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background: linear-gradient(#e66465, #9198e5);
    height: 100vh
}

.wrapper {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}