* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

.input-box {
    display: block;
    width: 100%;
}

.progress {
    width: 300px;
    margin-top: 10px;
}

.btn {
    margin-top: 5px;
}

.mb-3 {
    width: 300px;
}

.container {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

